
@model GuessViewModel

@{
    var FinishedPercentage =98;
    var FinishedTime = 18000000;
}

<script id="rendered-js" src="~/js/Guesses/slider-controller.js"></script>
<script type="text/javascript">


    var finishPercentage = @FinishedPercentage;
    var finishedTime = @FinishedTime;
    var timer;
    var usedImages = [];
    var mins = 0;
    var startoverall = new Date;
    var guessCheckUrl = '@Url.Action("GuessCheck", "UserGuess")';
    var getNewImageUrl = '@Url.Action("GetNewImage", "UserGuess")';
    var modelId = '@Model.UserId';
    var phase = '@Model.Phase';
    $(document).ready(function() {
        setCookie("userHash", '@Model.UserHash', '@DateTime.Now.AddDays(1)');
        usedImages.push('@Model.CurrentImageId');
        PhaseMessage(phase);
    });

</script>
<script src="~/js/Guesses/phase-with-feedback-controller.js"></script>
<script src="~/js/Guesses/answer-popup-controller.js"></script>
<script src="~/js/Messages/PhaseOpeningMessage.js"></script>

@using (Html.BeginForm("GuessWithFeedback", "UserGuess", FormMethod.Post))
{
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.UserHash)
    @Html.HiddenFor(m => m.CurrentCloudinaryUrl)
    @Html.HiddenFor(m => m.CurrentImageId)
    @Html.HiddenFor(m => m.ReturningTimer)

    <div id="navigation">
        <div class="navigation-wrapper">
            <span class="navigation-home">ZAX Herbivory Trainer</span>
        </div>
    </div>

    <div class="card">
        <img id="image_Id" src="@Model.CurrentCloudinaryUrl" alt="Avatar">
        <div class="text_container">
            <h4>Phase @(Model.Phase + 1) - Estimate the percentage of leaf damage</h4>

            <div class="slider">
                <input type="range"
                       name="participants"
                       min="0"
                       max="100"
                       value="0">
                <span class="rangeslider__tooltip" id="range-tooltip"></span>
            </div>
            <div class="button-box">
                <button type="button" id="btnGuess" class="myButton @(Model.FinalPercentage.HasValue && Model.FinalPercentage.Value > FinishedPercentage ||(Model.Timer > FinishedTime) ? "hide" :"")">SUBMIT</button>
                <input id="btnGuess-finished" class="myButton @((Model.FinalPercentage.HasValue && Model.FinalPercentage.Value > FinishedPercentage) ||(Model.Timer > FinishedTime) ? "" :"hide")" type="submit" value="See Results" />

            </div>
            <div class="timer">
                <p id="accuracyArea" class="timer-text @(Model.ImagesUsed.HasValue && Model.ImagesUsed.Value>=10 ? "": "hide")"> <img id="actIcon" src="~/images/accuracy_black.png" class="timer-icon @(Model.ReturningUser ? "": "hide")"></p> <p id="accuracyResult" class="timer-text @(Model.ImagesUsed.HasValue && Model.ImagesUsed.Value>=10 ? "": "hide")">@Model.FinalPercentage% accuracy from the last 10 images</p>
            </div>
        </div>
    </div>

    <div id="overlay"></div>
    @Html.TextBoxFor(m => m.Timer, new { @class = "hide" })
    @Html.TextBoxFor(m => m.FinalPercentage, new { @class = "hide" })
    @Html.TextBoxFor(m => m.ImagesUsed, new { @class = "hide" })
}

@Html.Partial("_Menubar")