
@using ZaxHerbivoryTrainer.APP.Helpers
@model StartModel
@{
    ViewData["Title"] = "Home Page";
}


<script type="text/javascript">

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }


    var moreInformationDialog;
    $(document).ready(function() {
        if ('@Session.Instance._userRole' === '@Session.Role.Guest'){
        const swalConsent = Swal.mixin({
            customClass: {
                confirmButton: 'myButton',
                cancelButton: 'myButton-2'
            },
            buttonsStyling: false
        });

        //User no longer need this to be displayed
        //SD - 2020/11/01
        //swalConsent.fire({
        //    html: "<p>Implied Consent to use participant data for research: <br>" +
        //        "<br>The ZAX Herbivory trainer aims to use images of leaf scans with known percentages of damage to train researchers to accurately visually estimate leaf damage. We hope this online training resource is used by researchers worldwide, to allow them to quickly and accurately estimate herbivore damage instead of using existing time-intensive digital analysis methods." +

        //        "The study is being carried out by Prof. Angela Moles and Zoe Xirocostas from the Evolution & Ecology Research Centre, School of Biological, Earth and Environmental Sciences at UNSW Sydney. This research is being funded by a Discovery grant from the Australian Research Council." +
        //        "<strong>" +
        //        "<br><br>Before you decide to participate in this research study, we need to ensure that it is ok for you to take part. The research study is looking recruit people who meet the following criteria:" +
        //        "<ul>" +
        //        "<li>Are over the age of 18</li>" +
        //        "<li>Are willing and able to participate</li>" +
        //        "<li>Have not previously estimated herbivory in a professional context.</li>" +
        //        "</ul>" +
        //        "</strong>" +
        //        "Participation in this research study is <strong>voluntary</strong>. If you do not want to take part, you do not have to. " +
        //        "No personal identifying data is collected from this website. We only collect data relating to the time it takes you complete training, how many images you estimated and what percentage of accuracy you achieved at the end of training." +
        //        "This training app should take no longer than <strong>30 minutes</strong> to complete.<br>In most cases it will only take 10 minutes. Once you complete training OR if 30 minutes passes, the app will take you to a finishing screen and report the level of accuracy you have achieved. To complete training you must accrue a <strong>running average of 98-100% accuracy on your 10 most recent estimates.</strong>" +
        //        "<br>If you decide you want to take part in the research study <strong>please press “Agree”</strong></p>"
        //    ,
        //    showCancelButton: true,
        //    customClass: 'swal-wide',
        //    confirmButtonText: 'Yes, I agree!',
        //    cancelButtonText: 'Logout',
        //    reverseButtons: true
        //}).then((result) => {
        //    if (result.value) {

        //    } else if (result.dismiss === Swal.DismissReason.cancel) {
        //        window.location.replace("/Account/Logoff");
        //    }
        //});

        //User no longer need this to be displayed
        //SD - 2021/09/26
        //  swalConsent.fire({
        //      html: "<p><strong>Disclaimer</strong>: <br>" +
        //        "<br>The ZAX Herbivory Trainer aims to use images of leaf scans with known percentages of damage to train researchers to accurately visually estimate leaf damage. " +
        //        "We hope this online training resource is used by researchers worldwide, to allow them to quickly and accurately estimate herbivore damage instead of using existing " +
        //        "time-intensive digital analysis methods. The study is being carried out by Prof. Angela Moles and Zoe Xirocostas from the Evolution and Ecology Research Centre, " +
        //        "School of Biological, Earth and Environmental Sciences at UNSW Sydney. This research is being funded by a discovery grant from the Australian Research Council." +
        //        "<strong>" +
        //        "<br><br>Before you decide to participate in this research study, we need to ensure that it is ok for you to take part. The research study is looking to recruit people who meet the following criteria:" +
        //        "<ul>" +
        //        "<li>Are over the age of 18</li>" +
        //        "<li>Are willing and able to participate</li>" +
        //        "<li>Have not previously estimated herbivory in a professional context.</li>" +
        //        "<li>Have not participated in previous versions of this app/study</li>" +
        //        "</ul>" +
        //        "</strong>" +
        //        "Participation in this research study is <strong>voluntary</strong>. If you do not want to take part, you do not have to. No personal identifying data is collected from this website (apart from email address to send you a $20 e-giftcard). " +
        //        "We only collect data relating to the time is takes you to complete each phase, how many images you estimated, your average accuracy at the end of each phase and what percentage of accuracy you achieved at the end of Phase 2. " +
        //        "This entire app (Phase 1, 2 and 3) should take no longer than 30 minutes to complete. Once you complete training, the app will take you to a completion screen and ask you to submit your email address to receive " +
        //          "a $20 Woolworths e-giftcard for your participation. To complete this app you must all three phases.<br>" +
        //        "<br><strong>Phase 1: </strong>You will estimate the percentage of leaf damage on 50 leaf images. You will receive no feedback after each individual estimate.</p>"+
        //        "<strong>Phase 2: </strong>You will estimate the percentage of leaf damage on leaf images until you achieve a running average of ≥98% accuracy on your 10 most recent estimates. You will receive feedback after each individual estimate.</p>"+
        //        "<strong>Phase 3: </strong>You will estimate the percentage of leaf damage on 50 leaf images. You will receive no feedback after each individual estimate.</p>"+
        //        "<br><strong>If you decide you want to take part in the research study please press “Agree”</strong></p>"
        //    ,
        //    showCancelButton: true,
        //    customClass: 'swal-wide',
        //    confirmButtonText: 'Yes, I agree!',
        //    cancelButtonText: 'Logout',
        //    reverseButtons: true
        //}).then((result) => {
        //    if (result.value) {

        //    } else if (result.dismiss === Swal.DismissReason.cancel) {
        //        window.location.replace("/Account/Logoff");
        //    }
        //});
            


        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'myButton',
                cancelButton: 'myButton-2'

            },
            buttonsStyling: false
        });
            }

        var hash = getCookie("userHash");
        $("#hash-obj").val(hash);

        if (hash !== "" && hash !== "null") {
            swalWithBootstrapButtons.fire({
                html: "Would you like to continue where you left off?",
                showCloseButton: false,
                allowOutsideClick: false,
                showCancelButton: true,
                confirmButtonText: 'Continue',
                cancelButtonText: 'No'

            }).then((result) => {
                if (result.value) {
                    $("#hash-obj").val(hash);
                    $("#continue-obj").val(true);
                }
                else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    $("#hash-obj").val("");
                    $("#continue-obj").val(false);
                }
            });
        }

        moreInformationDialog = $("#instructionModal").dialog({
            autoOpen: true,
            position: ['top', 50],
            resizable: false,
            width: '100%',
            modal: true

        });
        $('.ui-button').button().hide();

        $("#btnInstructions").click(function () {

            if ($('#instructionModal').dialog('isOpen')) {
                $("#instructionModal").dialog('close');
                $('.ui-button').button().hide();
                $('.ui-dialog').css("outline", "none");
            } else {
                $("#instructionModal").dialog('open');
                $('.ui-button').button().hide();
                $('.ui-dialog').css("outline", "none");
            }
        });

    });

</script>
@using (Html.BeginForm("Start", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Hash, new { id = "hash-obj" })
    @Html.HiddenFor(m => m.Continue, new { id = "continue-obj" })

    <div id="Header">
        <div class="wrapper">
            <span class="header-home">ZAX Herbivory Trainer</span>
        </div>
    </div>

    <div class="center">
        <div class="btn-1">
            <a id="btnInstructions"><span>Instructions</span></a>
        </div>
        @if (@Session.Instance._userRole == Session.Role.Guest)
        {
            <div class="btn-2" type="submit">
                <input type="submit" value="Let's Begin"/>
            </div>
        }
    </div>

    <div id="Content" class="wrapper">
    </div>

    <div id="overlay"></div>
}
@{ Html.RenderPartial("_instructionsPartial"); }
@Html.Partial("_Menubar")

